[Unit]
Description=IoTEdge home mount /var/local/lib/aziot -> /var/lib/aziot.
DefaultDependencies=no
Conflicts=umount.target
After=local-fs.target

[Service]
ExecStartPre=/usr/bin/setup_aziot_dirs.sh
ExecStart=/usr/bin/mount -o bind /var/local/lib/aziot /var/lib/aziot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target