[Unit]
Description=IoTEdge home mount /var/local/lib/aziot -> /var/lib/aziot.
DefaultDependencies=no
Conflicts=umount.target
After=local-fs.target

[Service]
ExecStart=/usr/bin/setup_aziot_dirs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target