[Unit]
Description=Create IoT Edge home directories and set permissions
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/setup_aziot_dirs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target